extends ./layouts/main.pug
    
block PageContent

  .container
    // Page Heading/Breadcrumbs
    +addNavStructure('Contact', '/', 'Home', 'Subheading')
    
    // Content Row
    .row
      // Map Column
      .col-md-8
        // Embedded Google Map
        iframe(width='100%', height='400px', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://maps.google.com/maps?hl=en&ie=UTF8&ll=37.0625,-95.677068&spn=56.506174,79.013672&t=m&z=4&output=embed')
      // Contact Details Column
      .col-md-4
        h3 Contact Details
        p
          | 3481 Melrose Place
          br
          | Beverly Hills, CA 90210
          br
        p
          i.fa.fa-phone
          abbr(title='Phone') P
          | : (123) 456-7890
        p
          i.fa.fa-envelope-o
          abbr(title='Email') E
          | : 
          a(href='mailto:name@example.com') name@example.com
        p
          i.fa.fa-clock-o
          abbr(title='Hours') H
          | : Monday - Friday: 9:00 AM to 5:00 PM
        ul.list-unstyled.list-inline.list-social-icons
          li
            a(href='#')
              i.fa.fa-facebook-square.fa-2x
          li
            a(href='#')
              i.fa.fa-linkedin-square.fa-2x
          li
            a(href='#')
              i.fa.fa-twitter-square.fa-2x
          li
            a(href='#')
              i.fa.fa-google-plus-square.fa-2x
    // /.row
    // Contact Form
    // In order to set the email address and subject line for the contact form go to the bin/contact_me.php file.
    .row
      .col-md-8
        h3 Send us a Message
        form#contactForm(name='sentMessage', novalidate='')
          .control-group.form-group
            .controls
              label Full Name:
              input#name.form-control(type='text', required='', data-validation-required-message='Please enter your name.')
              p.help-block
          .control-group.form-group
            .controls
              label Phone Number:
              input#phone.form-control(type='tel', required='', data-validation-required-message='Please enter your phone number.')
          .control-group.form-group
            .controls
              label Email Address:
              input#email.form-control(type='email', required='', data-validation-required-message='Please enter your email address.')
          .control-group.form-group
            .controls
              label Message:
              textarea#message.form-control(rows='10', cols='100', required='', data-validation-required-message='Please enter your message', maxlength='999', style='resize:none')
          #success
          // For success/fail messages
          button.btn.btn-primary(type='submit') Send Message
